src/main/resources/driverDoctype.dtd

<!ELEMENT repositories (driver*) >
        <!ELEMENT driver (version, location) >
        <!ATTLIST driver
                name (chromedriver|geckodriver|operadriver) #REQUIRED
                os (mac|windows|linux) #REQUIRED >

        <!ELEMENT version (#PCDATA) >
        <!ELEMENT location (#PCDATA) >